## Introduction
In this jupyter notebook we are going to explore databases in python particularly relational databases and exploring SQL queries in sqlalchemy (which is a pythonic way of interacting with relational databases). We will explore simple queries on filter, order and counting data. As well as we will build our own database. We will be working on census dataset. 

This is a case study as a part of Data Scientist Degree on DataCamp. <br> 
Credits: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

__We import the required packages__

In [174]:
from sqlalchemy import create_engine
from sqlalchemy import Table
import sqlalchemy
from sqlalchemy import select
from sqlalchemy import and_
from sqlalchemy import desc
from sqlalchemy import func
from sqlalchemy import case, cast, Float
from sqlalchemy import Table, Column, String, Integer, Float, Boolean
from sqlalchemy import engine

__We create an engine which is an interface to a databases and it requires a connection string to connect to a database__

In [145]:
# Create an engine that connects to the census.sqlite file: engine
engine = create_engine('sqlite:///census.sqlite')
employee = create_engine('sqlite:///employees.sqlite')

__Printing the table names in our census database__

In [146]:
engine.table_names()

[u'census', u'state_fact']

__We can automatically load tables using SQLAlchemy from a database using something called reflection.__

Reflection is the process of reading the database and building the metadata based on that information. It's the opposite of creating a Table by hand and is very useful for working with existing databases. We will use Table object to read the table from the database and autoload the columns. We will use MetaData object of sqlalchemy package to load the metadata and autoload is set to True.

In [147]:
# Reflect census table from the engine: census
metadata = sqlalchemy.sql.schema.MetaData(bind=None)
census = Table('census',metadata, autoload=True, autoload_with=engine)
# Print census table metadata
print("Printing census table metadata.")
print(repr(census))


# Reflect employee table from the engine: employee
employees = Table('employees',metadata, autoload=True, autoload_with=employee)
print("\nPrinting employee table metadata.")
print(repr(employees))

Printing census table metadata.
Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

Printing employee table metadata.
Table('employees', MetaData(bind=None), Column('id', INTEGER(), table=<employees>, primary_key=True, nullable=False), Column('name', VARCHAR(length=20), table=<employees>), Column('job', VARCHAR(length=20), table=<employees>), Column('mgr', INTEGER(), table=<employees>), Column('hiredate', DATETIME(), table=<employees>), Column('sal', NUMERIC(precision=7, scale=2), table=<employees>), Column('comm', NUMERIC(precision=7, scale=2), table=<employees>), Column('dept', INTEGER(), table=<employees>), schema=None)

__Now we will explore the table column names and columns datatypes__

In [148]:
# Reflect the census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Print the column names
print(census.columns.keys())

['state', 'sex', 'age', 'pop2000', 'pop2008']

In [149]:
# Print full table metadata using repr function and metadata of census table using 'census' key 
print(repr(metadata.tables['census']))

Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

In [150]:
# Printing census table columns using .columns attribute of census table
print(census.columns)

['census.state', 'census.sex', 'census.age', 'census.pop2000', 'census.pop2008']

___

### Executing SQL Queries

We are going to run SQL queries on our dataset. Execute function on our connection (engine variable) returns a ResultProxy, on this we use fetchall method to get ResultSet i.e. our results of statement stmt.

In [151]:
# Build select statement for census table: stmt
stmt = 'SELECT * FROM census'

# Execute the statement and fetch the results: results
results = engine.execute(stmt).fetchall()

# Printing Results first row
print(results[0])

(u'Illinois', u'M', 0, 89600, 95012)

__We will use select function of sqlalchemy to get records__

In [152]:
# Build select statement for census table: stmt
stmt = select([census])

# Print the emitted statement to see the SQL emitted
print(stmt)

# Execute the statement and printing the ResultSet first row
result = engine.execute(stmt).fetchall()

print(result[0])

SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census
(u'Illinois', u'M', 0, 89600, 95012)

__Printing the state column of first row__

In [153]:
# Print the 'state' column of the first row by using its name
print(result[0]['state'])

Illinois

___

### Filtering, Ordering and Counting Queries

__First we are going to use where clause to extract rows where state is New York and then display results of first 10 and last 10 rows__

In [154]:
# Create a select query: stmt
stmt = select([census])

# Add a where clause to filter the results to only those for New York
stmt = stmt.where(census.columns.state == 'New York')

# Execute the query to retrieve all the data returned: results
results = engine.execute(stmt).fetchall()
print("We have " + str(len(results))) + " rows in our result set"

We have 172 rows in our result set

In [155]:
results[:10]

[(u'New York', u'M', 0, 126237, 128088),
 (u'New York', u'M', 1, 124008, 125649),
 (u'New York', u'M', 2, 124725, 121615),
 (u'New York', u'M', 3, 126697, 120580),
 (u'New York', u'M', 4, 131357, 122482),
 (u'New York', u'M', 5, 133095, 121205),
 (u'New York', u'M', 6, 134203, 120089),
 (u'New York', u'M', 7, 137986, 122355),
 (u'New York', u'M', 8, 139455, 118653),
 (u'New York', u'M', 9, 142454, 117369)]

In [156]:
results[-10:]

[(u'New York', u'F', 76, 64971, 57584),
 (u'New York', u'F', 77, 61287, 56907),
 (u'New York', u'F', 78, 58911, 58456),
 (u'New York', u'F', 79, 56865, 54136),
 (u'New York', u'F', 80, 54553, 52932),
 (u'New York', u'F', 81, 46381, 50693),
 (u'New York', u'F', 82, 45599, 48206),
 (u'New York', u'F', 83, 40525, 47777),
 (u'New York', u'F', 84, 37436, 43454),
 (u'New York', u'F', 85, 226378, 273476)]

In [157]:
# Extracting all the rows where sex is 'F'
stmt = stmt.where(census.columns.sex == 'F')

# Execute the query to retrieve all the data returned: results
results = engine.execute(stmt).fetchall()

# printing first 10 rows of our dataset 
results[:10]

[(u'New York', u'F', 0, 120355, 122194),
 (u'New York', u'F', 1, 118219, 119661),
 (u'New York', u'F', 2, 119577, 116413),
 (u'New York', u'F', 3, 121029, 114877),
 (u'New York', u'F', 4, 125247, 116936),
 (u'New York', u'F', 5, 128227, 116051),
 (u'New York', u'F', 6, 128428, 115186),
 (u'New York', u'F', 7, 131161, 116951),
 (u'New York', u'F', 8, 133646, 113279),
 (u'New York', u'F', 9, 135746, 111919)]

__Let's say we want to extract all rows that match one of the states in state column.__

In [158]:
states = ['New York', 'California', 'Texas']

In [159]:
# Create a query for the census table: stmt
stmt = select([census])

# Append a where clause to match all the states in_ the list states
stmt = stmt.where(census.columns.state.in_(states))
result = engine.execute(stmt).fetchall()
print("First 10 rows of resultset: ") 
print(result[:10])

print("\nLast 10 rows of resultset: ") 
print(result[-10:])

First 10 rows of resultset:
[(u'New York', u'M', 0, 126237, 128088), (u'New York', u'M', 1, 124008, 125649), (u'New York', u'M', 2, 124725, 121615), (u'New York', u'M', 3, 126697, 120580), (u'New York', u'M', 4, 131357, 122482), (u'New York', u'M', 5, 133095, 121205), (u'New York', u'M', 6, 134203, 120089), (u'New York', u'M', 7, 137986, 122355), (u'New York', u'M', 8, 139455, 118653), (u'New York', u'M', 9, 142454, 117369)]

Last 10 rows of resultset:
[(u'Texas', u'F', 76, 52656, 54423), (u'Texas', u'F', 77, 48993, 52482), (u'Texas', u'F', 78, 47681, 53907), (u'Texas', u'F', 79, 44609, 48607), (u'Texas', u'F', 80, 42132, 46399), (u'Texas', u'F', 81, 35378, 44418), (u'Texas', u'F', 82, 33852, 41838), (u'Texas', u'F', 83, 30076, 40489), (u'Texas', u'F', 84, 27961, 36821), (u'Texas', u'F', 85, 171538, 223439)]

__Selecting non-male record of california using and_ __

In [160]:
# Build a query for the census table: stmt
stmt = select([census])

# Append a where clause to select only non-male records from California using and_
stmt = stmt.where(
    # The state of California with a non-male sex
    and_(census.columns.state == 'California',
         census.columns.sex != 'M'
         )
)

# Loop over the ResultProxy printing the age, sex and population in 2008
for result in engine.execute(stmt).fetchall()[::5]:
    print(result.age, result.sex, result.pop2008)

(0, u'F', 274356)
(5, u'F', 253899)
(10, u'F', 235225)
(15, u'F', 259496)
(20, u'F', 257736)
(25, u'F', 270307)
(30, u'F', 242518)
(35, u'F', 247199)
(40, u'F', 256169)
(45, u'F', 270948)
(50, u'F', 256885)
(55, u'F', 224738)
(60, u'F', 190184)
(65, u'F', 146439)
(70, u'F', 111154)
(75, u'F', 91037)
(80, u'F', 79785)
(85, u'F', 400288)

__Sorting the results using order_by clause__

In [161]:
# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Order stmt by the state column
stmt = stmt.order_by(census.columns.state)

# Execute the query and store the results: results
results = engine.execute(stmt).fetchall()

# Print the result of every 100th row
print(results[::100])

[(u'Alabama',), (u'Alabama',), (u'Alaska',), (u'Alaska',), (u'Arizona',), (u'Arizona',), (u'Arkansas',), (u'California',), (u'California',), (u'Colorado',), (u'Colorado',), (u'Connecticut',), (u'Connecticut',), (u'Delaware',), (u'District of Columbia',), (u'District of Columbia',), (u'Florida',), (u'Florida',), (u'Georgia',), (u'Hawaii',), (u'Hawaii',), (u'Idaho',), (u'Idaho',), (u'Illinois',), (u'Illinois',), (u'Indiana',), (u'Iowa',), (u'Iowa',), (u'Kansas',), (u'Kansas',), (u'Kentucky',), (u'Louisiana',), (u'Louisiana',), (u'Maine',), (u'Maine',), (u'Maryland',), (u'Maryland',), (u'Massachusetts',), (u'Michigan',), (u'Michigan',), (u'Minnesota',), (u'Minnesota',), (u'Mississippi',), (u'Missouri',), (u'Missouri',), (u'Montana',), (u'Montana',), (u'Nebraska',), (u'Nebraska',), (u'Nevada',), (u'New Hampshire',), (u'New Hampshire',), (u'New Jersey',), (u'New Jersey',), (u'New Mexico',), (u'New Mexico',), (u'New York',), (u'North Carolina',), (u'North Carolina',), (u'North Dakota',), (u'North Dakota',), (u'Ohio',), (u'Oklahoma',), (u'Oklahoma',), (u'Oregon',), (u'Oregon',), (u'Pennsylvania',), (u'Pennsylvania',), (u'Rhode Island',), (u'South Carolina',), (u'South Carolina',), (u'South Dakota',), (u'South Dakota',), (u'Tennessee',), (u'Texas',), (u'Texas',), (u'Utah',), (u'Utah',), (u'Vermont',), (u'Vermont',), (u'Virginia',), (u'Washington',), (u'Washington',), (u'West Virginia',), (u'West Virginia',), (u'Wisconsin',), (u'Wyoming',), (u'Wyoming',)]

__Sorting the results using order_by clause but in descending order using desc() function__

In [162]:
# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Order stmt by state in descending order: rev_stmt
rev_stmt = stmt.order_by(desc(census.columns.state))

# Execute the query and store the results: rev_results
rev_results = engine.execute(rev_stmt).fetchall()

# Printing the rev_results using step 200
print(rev_results[::200])

[(u'Wyoming',), (u'Wisconsin',), (u'West Virginia',), (u'Washington',), (u'Virginia',), (u'Vermont',), (u'Utah',), (u'Tennessee',), (u'South Dakota',), (u'South Carolina',), (u'Rhode Island',), (u'Pennsylvania',), (u'Oregon',), (u'Ohio',), (u'North Dakota',), (u'North Carolina',), (u'New York',), (u'New Mexico',), (u'New Jersey',), (u'Nevada',), (u'Nebraska',), (u'Montana',), (u'Missouri',), (u'Mississippi',), (u'Minnesota',), (u'Massachusetts',), (u'Maryland',), (u'Maine',), (u'Louisiana',), (u'Kentucky',), (u'Kansas',), (u'Indiana',), (u'Illinois',), (u'Idaho',), (u'Hawaii',), (u'Georgia',), (u'Florida',), (u'Delaware',), (u'Connecticut',), (u'Colorado',), (u'California',), (u'Arkansas',), (u'Arizona',), (u'Alabama',)]

__Sorting the results using order_by clause by using multiple columns for ordering__

In [163]:
# Build a query to select state and age: stmt
stmt = select([census.columns.state, census.columns.age])

# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))

# Execute the statement and store all the records: results
results = engine.execute(stmt).fetchall()

# Print the first 20 results
print(results[:20])

[(u'Alabama', 85), (u'Alabama', 85), (u'Alabama', 84), (u'Alabama', 84), (u'Alabama', 83), (u'Alabama', 83), (u'Alabama', 82), (u'Alabama', 82), (u'Alabama', 81), (u'Alabama', 81), (u'Alabama', 80), (u'Alabama', 80), (u'Alabama', 79), (u'Alabama', 79), (u'Alabama', 78), (u'Alabama', 78), (u'Alabama', 77), (u'Alabama', 77), (u'Alabama', 76), (u'Alabama', 76)]

__Counting the number of distinct states in the census data using func.count() and .distinct() function__

In [164]:
# Build a query to count the distinct states values: stmt
stmt = select([func.count(census.columns.state.distinct())])

# Execute the query and store the scalar result: distinct_state_count
distinct_state_count = engine.execute(stmt).scalar()

# Print the distinct_state_count
print(distinct_state_count)

51

__Determining population by each state__

In [165]:
# Build an expression to calculate the sum of pop2008 labeled as population
pop2008_sum = func.sum(census.columns.pop2008).label('population')

# Build a query to select the state and sum of pop2008: stmt
stmt = select([census.columns.state, pop2008_sum])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = engine.execute(stmt).fetchall()

# Print results
print(results)

[(u'Alabama', 4649367), (u'Alaska', 664546), (u'Arizona', 6480767), (u'Arkansas', 2848432), (u'California', 36609002), (u'Colorado', 4912947), (u'Connecticut', 3493783), (u'Delaware', 869221), (u'District of Columbia', 588910), (u'Florida', 18257662), (u'Georgia', 9622508), (u'Hawaii', 1250676), (u'Idaho', 1518914), (u'Illinois', 12867077), (u'Indiana', 6373299), (u'Iowa', 3000490), (u'Kansas', 2782245), (u'Kentucky', 4254964), (u'Louisiana', 4395797), (u'Maine', 1312972), (u'Maryland', 5604174), (u'Massachusetts', 6492024), (u'Michigan', 9998854), (u'Minnesota', 5215815), (u'Mississippi', 2922355), (u'Missouri', 5891974), (u'Montana', 963802), (u'Nebraska', 1776757), (u'Nevada', 2579387), (u'New Hampshire', 1314533), (u'New Jersey', 8670204), (u'New Mexico', 1974993), (u'New York', 19465159), (u'North Carolina', 9121606), (u'North Dakota', 634282), (u'Ohio', 11476782), (u'Oklahoma', 3620620), (u'Oregon', 3786824), (u'Pennsylvania', 12440129), (u'Rhode Island', 1046535), (u'South Carolina', 4438870), (u'South Dakota', 800997), (u'Tennessee', 6202407), (u'Texas', 24214127), (u'Utah', 2730919), (u'Vermont', 620602), (u'Virginia', 7648902), (u'Washington', 6502019), (u'West Virginia', 1812879), (u'Wisconsin', 5625013), (u'Wyoming', 529490)]

__Change in population from 200 to 2008__

In [166]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008-census.columns.pop2000).label('pop_change')])

# Append group by for the state: stmt
stmt = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))

# Return only 5 results: stmt
stmt = stmt.limit(5)

# Use connection to execute the statement and fetch all results
results = engine.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

California:105705
Florida:100984
Texas:51901
New York:47098
Pennsylvania:42387

__Calculating percentage of female population in year 2000__

In [167]:
# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_= 0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([female_pop2000 / total_pop2000 * 100])

# Execute the query and store the scalar result: percent_female
percent_female = engine.execute(stmt).scalar()

# Print the percentage
print(percent_female)

51.0946743229

___

### Hierarchical Tables
Using the same table but two different columns to perform queries

__Using .alias() method to join tables with itself__

In [168]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select manager's and their employees names: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

# Match managers id with employees mgr: stmt
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Order the statement by the managers name: stmt
stmt = stmt.order_by(managers.columns.name)

# Execute statement: results
results = employee.execute(stmt).fetchall()
print(results)

[(u'FILLMORE', u'GRANT'), (u'FILLMORE', u'ADAMS'), (u'FILLMORE', u'MONROE'), (u'GARFIELD', u'JOHNSON'), (u'GARFIELD', u'LINCOLN'), (u'GARFIELD', u'POLK'), (u'GARFIELD', u'WASHINGTON'), (u'HARDING', u'TAFT'), (u'HARDING', u'HOOVER'), (u'JACKSON', u'HARDING'), (u'JACKSON', u'GARFIELD'), (u'JACKSON', u'FILLMORE'), (u'JACKSON', u'ROOSEVELT')]

__Counting employees for each manager__

In [169]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Group by Managers Name
stmt = stmt.group_by(managers.columns.name)

# Execute statement: results
results = employee.execute(stmt).fetchall()

# print manager
for record in results:
    print(record)

(u'FILLMORE', 3)
(u'GARFIELD', 4)
(u'HARDING', 2)
(u'JACKSON', 4)

____

____